---
import Layout from "../layouts/Layout.astro";
import BookCard from "@/components/BookCard.astro";
import Footer from "@/components/Footer.astro";
import { books } from "@data";
---

<Layout title="Genry's Bookstore">
  <main>
    <div class="container mx-auto my-20">
      <div class="flex flex-col items-center gap-y-6">
        <div class="text-center text-6xl">
          Libros
          <div class="text-base">nuevos y usados</div>
        </div>
        <p class="w-11/12 md:w-3/4 text-pretty">
          ¡Bienvenidos a mi biblioteca personal! Cada libro que encuentres aquí
          ha sido parte de mi viaje personal, agregando valor, sabiduría y
          momentos de alegría a mi vida. Mi esperanza es que estos libros,
          cuidadosamente seleccionados, tanto nuevos como usados, puedan hacer
          lo mismo por ti.
        </p>
      </div>
      <div
        class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 m-1"
      >
        {
          books.map((book) => {
            return (
              <BookCard
                image={book.image}
                is_new={book.is_new}
                title={book.title}
                author={book.author}
                description={book.description}
                amazon_price={book.amazon_price}
                amazon_url={book.amazon_url}
                ml_price={book.ml_price}
                ml_url={book.ml_url}
                price={book.price}
                sold={book.sold}
              />
            );
          })
        }
      </div>
    </div>
  </main>
  <Footer madeBy="Made by" using="using" />
</Layout>
